extends ../layout/page.pug

block content
  h2 Пользователи

  form(action='/users' method='GET')
    .form-group
      input.form-control(type='text', name='term', placeholder='Поиск пользователей', value=term)

    button.btn.btn-primary(type='submit') Поиск

  if users.length > 0
    ul
      each user in users
        li
          a(href=`/users/${user.id}`) #{user.username} - #{user.email}
  else
    p Нет пользователей, удовлетворяющих запросу.
