extends ../layout/page.pug

block content
    form(action="/articles" method="post")
      div
        label Название
            input(type="text" name="title" value=title)
        if errors.title
          p.error= errors.title
      div
        label Текст
            textarea(name="text")= text
        if errors.text
          p.error= errors.text
      input(type="submit" value="Создать")




